/* Brutalist style CSS */
html {
    background:
    repeating-linear-gradient(
        45deg,
        #002b36,
        #002b36 10px,
        #000b10 10px,
        #000b10 20px ); }

body {
    padding: 2em;
    display: block;
    color: #586e75;
    margin: 2em auto 0;
    max-width: 30em;
    font-family: Consolas, Menlo, monospace;
    line-height: 1.2em;
    font-size: 18px;
    background-color: #fdf6e3; }

strong { color: #657b83; }
a { color: #268bd2;}
a:visited { color: #6c71c4;  }
a:hover { color: #cb4b16; }
a:active { color: #dc322f; }

a > code {
    border: solid 2px;
    box-shadow: 4px 4px;
    padding: 5px;}

code,pre {
    background-color: #eee8d5;}

pre { padding: 1em;
      border: solid 2px;
      font-size: 0.7em;
      box-shadow: 8px 8px 0; }

.button {
    display: inline-block;
    border: solid 2px;
    box-shadow: 4px 4px 0;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    background-color: #eee8d5; }

.button:hover {
    cursor: pointer;
    color: #FFF;
    box-shadow: 4px 4px 0 #000;
    border-color: #000; }

.button:active {
    box-shadow: 0 0;
    top: 4px;
    left: 4px;
    position: relative; }

.button.ok-button:hover {
    background-color: #859900;}

.button.deny-button:hover {
    background-color: #dc322f;}

.code {
    word-wrap: break-word; }
