/* Brutalist style CSS */
html {
    // background:
    // repeating-linear-gradient(
    //     45deg,
    //     hsl(18,70%,70%),
    //     hsl(18,70%,70%) 10px,
    //     hsl(18,70%,80%) 10px,
    //     hsl(18,70%,80%) 20px );
    background-color: hsl(218,20%,90%);
}

body {
    padding: 2em;
    display: block;
    color: hsl(218,20%,25%);
    margin: 2em auto;
    max-width: 45em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    border-radius: 4px;
    border: solid 5px hsl(18,70%,60%);
    font-family: Helvetica Neue, sans-serif;
    font-weight: 300;
    line-height: 1.2em;
    font-size: 18px;
    background-color: hsl(218,20%,97%); }

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.2em; }
h1::after,h1::before {
  content: "===============================================";
  display:block;
}

strong { hsl(218,20%,12%); }
a { color: #268bd2;}
a:visited { color: #6c71c4;  }
a:hover { color: #cb4b16; }
a:active { color: #dc322f; }

a > code {
    border: solid 2px;
    box-shadow: 4px 4px;
    padding: 5px;}

nav > ul > li > a { line-height: 2em; font-size: 1.5em; font-weight: bold; }

code,pre {
    background-color: hsl(218,20%,90%);}

pre { padding: 1em;
      border: solid 2px;
      font-size: 0.7em;
      overflow: scroll; }
label { font-weight: bold; display: block; margin-top: 1em;
        color: #268bd2;
      }
label::before { content: "→ "; }

a.button { text-decoration: none; }
.button {
    display: inline-block;
    border: solid 2px;
    box-shadow: 4px 4px 0;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    background-color: hsl(218,20%,90%); }

.button:hover {
    cursor: pointer;
    color: #FFF;
    background-color: #268bd2;
    box-shadow: 4px 4px 0 #000;
    border-color: #000; }

.button:active {
    position: relative; }

.button.ok-button:hover {
    background-color: #859900;}

.button.deny-button:hover {
    background-color: #dc322f;}

.code {
    word-wrap: break-word;
    white-space: pre-wrap; }

.refused {color: #dc322f;
           border: solid 8px; }

.authorized {color: #859900;
             border: solid 8px; }
#user_code { font-size: 3em; text-align: center; line-height: 1.2em; }
#verification_block, #retrieval { border: solid; padding: 1em; margin: 1em 0; }
#genAuthBtn { margin: 1em; }
.error { background: #FDD; }
.success { background: #DFD; }
